<%-include('layout/header') %>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <% if (message) { %>
                <div class="alert alert-dismissable fade show alert-<%= message.type %>" role="alert">
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                    <strong><%= message.message %></strong>
                </div>
            <% } %>
            
            <div class="table-responsive">

                <% if (users!='') { %>
                 
                
                <table class="table table-striped text-centre">
                    <thead>
                        <tr class="table-dark">
                            <th>ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% users.forEach((row, index) => { %> 
                            <tr class="align-middle">
                                <td><%= index + 1 %></td> <!-- Index starts from 0, so adding 1 -->
                                <td><img src="<%= row.image %>" width="50" class="img-thumbnail"></td> <!-- Corrected image path -->
                                <td><%= row.name %></td>
                                <td><%= row.email %></td>
                                <td><%= row.phone %></td>
                                <td>
                                    <a href="/edit/<%= row._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                                    <a href="/delete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                    

                </table>
                <% } else{ %>
                        <h1 class="text-centre text-secondary mt-5">no user found</h1>
                    <% } %>

            </div>
        </div>
    </div>
</div>



<%-include('layout/footer') %>